@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Nunito Sans Light'), local('NunitoSans-Light'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8WAc5tU1Q.ttf) format('truetype')
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype')
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8GBs5tU1Q.ttf) format('truetype')
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

.nav__btn {
    background: #fff !important
}

.pagelevelprogress__indicator {
    width: 6rem;
    border: none
}

.pagelevelprogress__indicator .pagelevelprogress__indicator-inner {
    height: 12px;
    width: 100px
}

.pagelevelprogress__indicator .pagelevelprogress__indicator-inner,
.pagelevelprogress__nav-btn .pagelevelprogress__indicator-inner {
    background-color: #cac9c9 !important
}

.pagelevelprogress__indicator .pagelevelprogress__indicator-bar,
.pagelevelprogress__nav-btn .pagelevelprogress__indicator-bar {
    background-color: #2d78d9 !important
}

.page__header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(78, 116, 145, 0.3)), url(https://bitbucket.org/dt-adaptive/adapt5-dt-themes/raw/master/images/leadership-bg.jpg);
    background-position: center;
    background-repeat: repeat
}

.page__header .page__header-inner {
    padding: 100px 0
}

.page__header .page__header-inner .page__title-inner {
    color: #3c5059;
    text-transform: uppercase;
    font-weight: 700 !important
}

@media screen and (max-width:650px) {
    .page__header .page__header-inner .page__title-inner {
        font-size: .75em
    }
}

.block:nth-child(even) {
    background-color: #eef1f2
}

.component .component__inner {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #cac9c9;
    padding: 20px
}

.component .component-body a {
    text-decoration: underline;
    color: #3c5059
}

.component .component__widget.flipcard__widget,
.component .component__widget.narrative__widget {
    display: inline-block !important
}

.extension-audio {
    background-color: #edeeee;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #cac9c9 !important;
    box-shadow: none;
    padding: 10px 10px 7px 10px
}

.extension-audio input[type=range]::-webkit-slider-thumb {
    background: radial-gradient(#37a7ff, #37a7ff) !important;
    box-shadow: -100vw 0 0 100vw #37a7ff !important
}

.extension-audio input[type=range]::-moz-range-thumb {
    background: radial-gradient(#37a7ff, #37a7ff) !important;
    box-shadow: -100vw 0 0 100vw #37a7ff !important
}

.extension-audio input[type=range]::-ms-thumb {
    background: radial-gradient(#37a7ff, #37a7ff) !important;
    box-shadow: -100vw 0 0 100vw #37a7ff !important
}

.extension-audio .material-icons {
    width: 45px;
    height: 45px;
    padding: 0
}

.extension-audio .material-icons,
.flipcard-back span.material-icons,
.hotgraphic__pin:not(.has-pin-image),
.narrative__controls .material-icons,
.stacklist-button .material-icons {
    font-size: 18px !important;
    background-color: #2d78d9 !important;
    border-radius: 100px !important;
    color: #fff;
    width: 45px;
    height: 45px;
    align-items: center;
    cursor: pointer;
    transition: all .3s
}
.stacklist-button .button-list .extension-audio button
.extension-audio .material-icons:hover,
.flipcard-back span.material-icons:hover,
.hotgraphic__pin:not(.has-pin-image):hover,
.narrative__controls .material-icons:hover,
.stacklist-button .material-icons:hover {
    background-color: #37a7ff !important
}

.flipcard-back span.material-icons,
.narrative__controls .material-icons,
.stacklist-button span.material-icons {
    display: flex;
    justify-content: center
}

.hotgraphic__pin:not(.has-pin-image).is-visited {
    background-color: #52a240 !important;
}

button.stacklist-next {
    padding: 0 !important
}

.btn-icon.hotgraphic__pin {
    padding: 0 !important
}

.narrative__indicators {
    align-items: center
}

@media screen and (min-width:650px) {

    .graphics-items-inner,
    .stacklist-button,
    .stacklist-items-inner {
        width: 50% !important
    }
}

.stacklist-button .button-list .stacklist-back,
.stacklist-button .button-list .stacklist-next {
    padding: 0
}

.stacklist-button .extension-audio {
    box-shadow: none !important
}

.extension-audio .material-icons {
    color: #fff
}

.component__title,
.flipcard-item-front-title {
    color: #3c5059 !important;
    font-weight: 700 !important
}

.stacklist-item {
    position: relative;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #cac9c9 !important;
    color: #3c5059
}

.stacklist-item.final-item {
    box-shadow: none !important;
    padding-left: 0;
    padding-top: 20px
}

.stacklist-widget .stacklist-items.graphics .graphics-items-inner,
.stacklist-widget .stacklist-items.graphics .stacklist-items-inner {
    overflow: initial
}

img {
    border-radius: 10px;
    box-shadow: 0 0 0 1px #cac9c9 !important
}

.accordion__item-btn,
.accordion__item-btn.visited {
    padding: 20px;
    color: #3c5059 !important;
    font-weight: 700;
    font-size: 18px;
    background-color: #edeeee !important;
    border-radius: 10px !important;
    box-shadow: 0 0 0 1px #cac9c9 !important
}

.accordion__item-btn .accordion__item-icon,
.accordion__item-btn.visited .accordion__item-icon {
    color: #3c5059 !important
}

.accordion__item-btn.visited:hover,
.accordion__item-btn:hover {
    background-color: #37a7ff !important;
    color: #fff !important;
    box-shadow: 0 0 0 1px #cac9c9 !important
}

.accordion__item-btn.is-visited,
.accordion__item-btn.selected,
.accordion__item-btn.visited,
.accordion__item-btn.visited.is-visited,
.accordion__item-btn.visited.selected,
.accordion__item-btn.visited.visited {
    background-color: #2d78d9 !important;
    color: #fff !important;
    box-shadow: 0 0 0 1px #cac9c9 !important
}

.accordion__item-btn.is-visited .accordion__item-icon,
.accordion__item-btn.selected .accordion__item-icon,
.accordion__item-btn.visited .accordion__item-icon,
.accordion__item-btn.visited.is-visited .accordion__item-icon,
.accordion__item-btn.visited.selected .accordion__item-icon,
.accordion__item-btn.visited.visited .accordion__item-icon {
    color: #fff !important
}

.accordion__item-btn.is-open,
.accordion__item-btn.visited.is-open {
    border-radius: 10px 10px 0 0 !important
}

.accordion__item-btn.is-open .accordion__item-icon,
.accordion__item-btn.visited.is-open .accordion__item-icon {
    color: #fff !important
}

.accordion__item-content {
    border-radius: 0 0 10px 10px !important;
    box-shadow: 0 0 0 1px #cac9c9 !important;
    border-width: 0 1px 1px 1px;
    background: #fff !important;
    color: #3c5059 !important
}

.narrative img.narrative__slider-image {
    box-shadow: none
}

.narrative .narrative-content-title-inner {
    font-weight: 700
}

.narrative .narrative__progress.is-selected {
    background-color: #2d78d9 !important
}

.narrative .narrative__progress {
    background-color: #37a7ff !important
}

.narrative .narrative__strapline-btn {
    background-color: #2d78d9;
    margin: 20px 0;
    border-radius: 10px
}

.narrative .narrative__strapline-btn:hover {
    background-color: #37a7ff !important
}

.flipcard .flipcard__item .flipcard__item-face.flipcard__item-front {
    border-radius: 10px !important
}

.flipcard .flipcard__item-face {
    border: 1px solid #2d78d9;
    background: 0 0;
    color: #3c5059
}

.flipcard .flipcard__item.flipcard-flip .flipcard__item-back {
    box-shadow: 0 0 0 1px #cac9c9 !important;
    border-radius: 10px !important
}

.flipcard .flipcard__item-back-title {
    font-weight: 700 !important;
    font-size: 1.2rem
}

.flipcard .flipcard__item.flipcard-flip .flipcard-background-image {
    opacity: 0
}

.hotgrid-component .component-widget.hotgrid-widget {
    margin-top: 30px
}

.hotgrid-component .hotgrid-item-title {
    font-weight: 700;
    font-size: 18px
}

.hotgrid-notify-body {
    font-size: 18px !important
}

.hotgrid__item-btn .hotgrid__item-image {
    border: 1px solid #cac9c9 !important
}

.hotgrid__item-btn .hotgrid__item-title {
    border-radius: 0 0 10px 10px;
    background-color: #cac9c9 !important;
    color: #3c5059 !important
}

.hotgrid__item-btn:hover .hotgrid__item-image {
    border: 1px solid #37a7ff !important
}

.hotgrid__item-btn:hover .hotgrid__item-title {
    background-color: #37a7ff !important;
    color: #fff !important
}

.hotgrid__item-btn.is-visited .hotgrid__item-image {
    border: 1px solid #2d78d9 !important
}

.hotgrid__item-btn.is-visited .hotgrid__item-title {
    background-color: #2d78d9 !important;
    color: #fff !important
}

.hotgrid__item-image-container img {
    box-shadow: none !important;
    border-radius: 10px 10px 0 0 !important
}

.no-touch .hotgrid-component .hotgrid-item-states-css {
    transition: all .3s
}

.no-touch .hotgrid-component .hotgrid-item-states-css:hover {
    border-width: 0
}

.block.module-end {
    background-image: linear-gradient(rgba(78, 116, 145, 0.3), rgba(0, 0, 0, 0)), url(https://bitbucket.org/dt-adaptive/adapt5-dt-themes/raw/master/images/leadership-bg.jpg);
    background-position: center;
    background-repeat: repeat
}

.block.module-end .component .component__inner {
    background-color: transparent !important;
    box-shadow: none;
    border-radius: 0 !important;
    border: none !important
}

.block.module-end .text__title-inner {
    color: #3c5059
}

.block.module-end .text__title-inner span {
    font-weight: 300
}

.mcq__widget .mcq__item {
    border-radius: 10px;
    box-shadow: 0 0 0 1px #cac9c9 !important;
    background-color: #fff;
    margin: 10px 0
}

.mcq__widget .mcq__item:hover {
    background-color: #edeeee
}

.mcq__widget .mcq__item .mcq__item-label {
    background-color: transparent;
    color: #3c5059
}

.mcq__widget .mcq__item .mcq__item-label:hover {
    background-color: transparent !important;
    color: #3c5059 !important
}

.mcq__widget .mcq__item .mcq__item-label.is-selected {
    border-radius: 10px;
    background-color: #2d78d9 !important;
    border: none;
    color: #fff
}

.mcq__widget .mcq__item .mcq__item-label.is-selected:hover {
    color: #fff !important
}

.mcq__widget .mcq__item .mcq__item-label.is-selected .mcq__answer-icon {
    color: #fff
}

.mcq__widget .mcq__item .mcq__item-label.is-selected.is-disabled {
    background-color: #edeeee !important;
    color: #3c5059 !important
}

.mcq__widget .mcq__item .mcq__item-label.is-disabled {
    background-color: #edeeee !important;
    color: #3c5059 !important
}

.mcq__widget .mcq__item .mcq__item-label .mcq__answer-icon.checkbox {
    border-color: #3c5059
}

.mcq__widget .mcq__item .mcq__item-label .mcq__answer-icon {
    color: #3c5059
}

.mcq__widget.disabled .mcq__item.incorrect label.selected.disabled {
    color: #ed1c24 !important
}

.mcq__widget.disabled .mcq__item.correct label.selected.disabled {
    color: #52a240 !important
}

.mcq__widget.disabled .mcq__item label.disabled {
    color: #3c5059 !important
}

.gmcq__widget .gmcq__item-option {
    background-color: #edeeee !important;
    color: #3c5059
}

.gmcq__widget:not(.is-disabled) .gmcq__item:hover .gmcq__item-option {
    background-color: #37a7ff !important;
    color: #fff
}

.gmcq__widget .gmcq__item-label.is-selected .gmcq__item-option {
    background-color: #2d78d9 !important
}

.gmcq__widget .gmcq__item-label.is-selected:hover .gmcq__item-option {
    background-color: #2d78d9 !important
}

.matching__widget .matching__select-container {
    background-color: transparent !important
}

.matching__widget .dropdown__btn {
    background-color: #fff !important;
    border-radius: 10px;
    border: solid 1px #cac9c9
}

.matching__widget .dropdown__btn .dropdown__inner,
.matching__widget .dropdown__btn .icon {
    color: #3c5059 !important
}

.matching__widget .dropdown__list {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border: solid 1px #cac9c9
}

.matching__widget .dropdown__list .dropdown__item {
    background-color: #edeeee !important;
    color: #3c5059;
    border: solid 1px #cac9c9
}

.matching__widget .dropdown__list .dropdown__item:hover {
    background-color: #37a7ff !important;
    color: #fff
}

.trickle__btn {
    border-radius: 0 !important;
    background-color: #2d78d9 !important
}

.trickle__btn:hover {
    background-color: #37a7ff !important
}

.notify .notify__popup {
    background-color: #fff
}

.notify .notify__content-inner {
    color: #3c5059
}

.notify .btn-icon {
    background-color: #2d78d9
}

.notify .btn-icon:hover {
    background-color: #37a7ff !important
}

.notify [data-event="bookmarking:continue"]:hover {
    background-color: #37a7ff !important
}

#notify-heading {
    font-weight: 700 !important;
    font-size: 1.6rem
}

.btn__action,
.btn__feedback {
    border-radius: 100px !important
}

.narrative__content-title .item-subtitle {
    color: #2d78d9
}

.component__inner.blank__inner {
    box-shadow: none;
    padding: 0;
}