@font-face {
    font-family: "vanilla";
    src: url('fonts/vanilla.woff2') format('woff2'), url('fonts/vanilla.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block
}

.icon:before {
    display: block;
    font-family: "vanilla";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.page__header {
    background-color: #fff;
    background: linear-gradient(-235deg, #fff 0%, #fff 63%, #f2f4f9 63%, #f2f4f9 100%);
    border-top: 1px solid #9baad1
}

.page__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333
}

.block {
    border-top: 1px solid #9baad1
}

.page .block:nth-child(even) {
    background-color: #f2f4f9
}

.page .block.module-end {
    background-color: #fff;
    background: linear-gradient(-235deg, #fff 0%, #fff 63%, #f2f4f9 63%, #f2f4f9 100%)
}

.page .block.module-end .component__title {
    font-size: 2.5rem
}

.page .block .component__title {
    font-size: 2rem;
    font-weight: bold;
    color: #333
}

button,
.btn__action,
.btn-text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0;
    padding: 20px 24px;
    display: inline-block;
    color: #cf202f;
    border: #cf202f 2px solid
}

.no-touch button:hover,
.no-touch .btn__action:hover,
.no-touch .btn-text:hover {
    background-color: #cf202f;
    color: #fff
}

button.is-disabled,
.btn__action.is-disabled,
.btn-text.is-disabled {
    background-color: #666;
    color: #ccc;
    border: 0
}

button.is-disabled:hover,
.btn__action.is-disabled:hover,
.btn-text.is-disabled:hover {
    background-color: #666;
    color: #ccc;
    border: 0
}

img {
    border: 1px solid #9baad1
}

.notify__popup {
    background-color: #fff;
    color: #333333
}

.notify__popup.hotgraphic .notify__popup-inner,
.notify__popup.hotgrid .notify__popup-inner {
    padding: 0 .5rem 4rem
}

.notify__popup.is-incorrect {
    background-color: #cf202f;
    color: #fff
}

.notify__popup.is-incorrect .notify__btn-icon {
    background-color: transparent;
    color: #fff;
    margin-right: 0;
    padding-right: 0
}

.notify__popup.is-correct {
    background-color: #52a240;
    color: #fff
}

.notify__popup.is-correct .notify__close-btn {
    background-color: transparent;
    color: #fff;
    margin-right: 0;
    padding-right: 0
}

.notify .hotgrid-popup__toolbar {
    position: initial
}

.notify .notify__close-btn {
    background-color: transparent;
    color: #333333
}

.extension-audio {
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: none;
    padding: 0
}

.extension-audio input[type='range'] {
    background: #f2f4f9;
    border: #9baad1 1px solid;
    border-radius: 0
}

.extension-audio input[type='range']::-webkit-slider-thumb {
    background: #9baad1;
    box-shadow: -100vw 0 0 100vw #9baad1
}

.extension-audio input[type='range']::-moz-range-thumb {
    background: #9baad1;
    box-shadow: -100vw 0 0 100vw #9baad1
}

.extension-audio input[type='range']::-ms-thumb {
    background: #9baad1;
    box-shadow: -100vw 0 0 100vw #9baad1
}

.nav__inner {
    border-bottom: 1px solid #9baad1
}

.nav__inner .nav__skip-btn {
    display: none
}

.nav__inner .pagelevelprogress__nav-btn {
    background-color: transparent;
    cursor: default
}

.nav__inner .pagelevelprogress__nav-btn:hover {
    background-color: transparent !important
}

.nav__inner .pagelevelprogress__nav-btn:hover .pagelevelprogress__indicator {
    border-radius: 0;
    border: #000 2px solid !important
}

.nav__inner .pagelevelprogress__nav-btn:hover .pagelevelprogress__indicator-inner {
    background-color: #fff !important
}

.nav__inner .pagelevelprogress__nav-btn:hover .pagelevelprogress__indicator-bar {
    background-color: #000 !important
}

.nav__inner .pagelevelprogress__nav-btn .pagelevelprogress__indicator {
    border-radius: 0;
    border: #000 2px solid;
    width: 6rem;
    height: .75rem
}

.nav__inner .pagelevelprogress__nav-btn .pagelevelprogress__indicator-inner {
    background-color: #fff
}

.nav__inner .pagelevelprogress__nav-btn .pagelevelprogress__indicator-bar {
    background-color: #000;
    height: .75rem
}

.pagelevelprogress__indicator {
    border-radius: 0;
    border: #333333 2px solid
}

.pagelevelprogress__indicator .pagelevelprogress__indicator-bar {
    background-color: #333333
}

.accordion__item-btn {
    background-color: #cf202f;
    border-radius: 0
}

.accordion__item-btn.is-selected {
    background-color: #8d1620;
    border-color: #8d1620
}

.accordion__item-btn.is-visited {
    background-color: #52a240;
    border-color: #52a240
}

.accordion__item-btn.is-visited:hover {
    background-color: #366b2a;
    border-color: #366b2a
}

.accordion__item-content {
    background-color: transparent;
    color: #333333
}

.narrative__controls {
    color: #667eb9;
    background-color: transparent
}

.narrative__progress {
    background-color: #666
}

.narrative__progress.is-selected {
    background-color: #000
}

.narrative__content-title {
    font-weight: bold;
    font-size: 1.5rem
}

.narrative__content-title .item-subtitle {
    font-size: 1rem;
    color: #52a240
}

.no-touch .accordion__item-btn:not(.is-selected):hover {
    background-color: #8d1620;
    border-color: #8d1620
}

.no-touch .narrative__controls:hover {
    color: #9baad1;
    background-color: transparent
}

.no-touch .narrative__progress:not(.is-selected):hover {
    background-color: #000
}

.no-touch .hotgraphic__pin:not(.has-pin-image):hover {
    background-color: #cf202f
}

.no-touch .hotgraphic-popup__controls:hover,
.no-touch .hotgraphic-popup__close:hover,
.no-touch .hotgrid-popup__controls:hover,
.no-touch .hotgrid-popup__close:hover {
    color: #0d0d0d;
    background-color: transparent
}

.no-touch .mcq__item-label:not(.is-disabled):not(.is-selected):hover,
.no-touch html:not(.a11y-disable-focusoutline) .mcq__item-input:focus+.mcq__item-label {
    background-color: #667eb9;
    color: #333333
}

.no-touch .is-correct .notify__btn-icon:hover,
.no-touch .is-incorrect .notify__btn-icon:hover {
    background-color: transparent;
    color: #d9d9d9
}

.no-touch .notify__btn-icon:hover {
    background-color: transparent;
    color: #0d0d0d
}

.no-touch .gmcq__item-label:not(.is-disabled):not(.is-selected):hover .gmcq__item-option,
.no-touch html:not(.a11y-disable-focusoutline) .gmcq__item-input:focus+.gmcq__item-label .gmcq__item-option {
    background-color: transparent;
    color: #9baad1
}

.no-touch .dropdown__btn:not(.is-disabled):not([aria-expanded="true"]):hover,
.no-touch html:not(.a11y-disable-focusoutline) .dropdown__btn:focus {
    background-color: #667eb9;
    color: #333333
}

.no-touch button.dropdown__btn:hover,
.no-touch .btn__action.dropdown__btn:hover,
.no-touch .btn-text.dropdown__btn:hover,
.no-touch .dropdown__item:not(:focus):not([aria-selected="true"]):hover {
    background-color: #667eb9;
    color: #333333
}

.hotgraphic .btn-icon {
    padding: .25rem
}

.hotgraphic .btn-icon.hotgraphic__pin .icon:before {
    font-size: 2rem
}

.hotgraphic .btn-icon.hotgraphic-popup__controls,
.hotgraphic .btn-icon.hotgraphic-popup__close {
    background-color: transparent;
    color: #333333;
    margin-right: 0;
    padding-right: 0
}

.hotgraphic__pin:not(.has-pin-image) {
    background-color: #fff;
    border: 2px solid #cf202f;
    color: #cf202f
}

.hotgraphic__pin:not(.has-pin-image).is-visited {
    border-color: #52a240;
    color: #fff;
    background-color: #52a240
}

.stacklist .stacklist-item {
    padding: 20px 0
}

.stacklist .stacklist-button {
    padding: 0
}

.stacklist .stacklist-button .stacklist-back,
.stacklist .stacklist-button .stacklist-next {
    border: 0;
    color: #667eb9
}

.stacklist .stacklist-button .stacklist-back:hover,
.stacklist .stacklist-button .stacklist-next:hover {
    color: #9baad1
}

.stacklist .stacklist-button .button-list .extension-audio button {
    border: 0;
    color: #667eb9;
    padding: 20px 5px
}

.stacklist .stacklist-button .button-list .extension-audio button:hover {
    color: #9baad1
}

.flipcard img {
    border: 0
}

.flipcard__item-face {
    border: 1px solid #9baad1;
    background-color: #fff
}

.flipcard .flipcard-back {
    padding: 0;
    border: 0;
    color: #667eb9
}

.flipcard .flipcard-back:hover {
    background-color: transparent;
    color: #9baad1
}

.flipcard .flipcard__item-back .extension-audio button {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 32%
}

.flipcard .flipcard__item-back-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: #333333
}

.flipcard .flipcard__item-back-body {
    color: #333333
}

.hotgrid .hotgrid__item-btn {
    border: 0
}

.hotgrid .hotgrid__item-btn:hover {
    background-color: transparent
}

.hotgrid .hotgrid__item-btn:hover .hotgrid__item-title,
.hotgrid .hotgrid__item-btn:hover .hotgrid__item-icon {
    background-color: #000
}

.hotgrid .hotgrid__item-btn:hover.is-css .hotgrid__item-image {
    border: 1px solid #000
}

.hotgrid .hotgrid__item-btn.is-css .hotgrid__item-image {
    border: 1px solid #333333
}

.hotgrid .hotgrid__item-btn.is-css.is-visited .hotgrid__item-image {
    border: 1px solid #52a240
}

.hotgrid .hotgrid__item-btn.is-css.is-visited .hotgrid__item-title,
.hotgrid .hotgrid__item-btn.is-css.is-visited .hotgrid__item-icon {
    background-color: #52a240
}

.hotgrid .hotgrid__item-btn .hotgrid__item-title,
.hotgrid .hotgrid__item-btn .hotgrid__item-icon {
    background-color: #333333
}

.hotgrid-popup__controls,
.hotgrid-popup__close {
    background-color: transparent;
    color: #333333;
    padding-right: 0;
    margin-right: 0
}

.mcq__item-label {
    background-color: #9baad1;
    color: #333333;
    border-radius: 0;
    font-weight: bold
}

.mcq__item-label.is-selected {
    background-color: #667eb9;
    color: #333333
}

.gmcq__item-option {
    background-color: transparent;
    color: #333333
}

.gmcq .is-selected .gmcq__item-option {
    background-color: transparent;
    color: #667eb9
}

.gmcq img {
    border: 0
}

.matching .dropdown__btn {
    background-color: #9baad1;
    color: #333333;
    text-transform: initial;
    border: 0
}

.matching .dropdown__item {
    background-color: #9baad1;
    color: #333333;
    border-color: #667eb9;
    font-weight: bold
}

.dragndrop .dragndrop-inner .dragndrop-answers .dragndrop-answer.ui-state-placed {
    background-color: #9baad1;
    color: #333333
}