img {
    border-radius: 5px
}

.nav__inner {
    background-color: #333333
}

.nav__btn {
    background-color: #333333
}

.pagelevelprogress__indicator {
    width: 6rem;
    border: none
}

.pagelevelprogress__indicator-inner {
    height: .7rem;
    background-color: #999
}

.pagelevelprogress__indicator-bar {
    background-color: #cf202f
}

.pagelevelprogress__nav-btn .pagelevelprogress__indicator-bar {
    background-color: #cf202f
}

.no-touch .pagelevelprogress__nav-btn:hover .pagelevelprogress__indicator-bar {
    background-color: #cf202f
}

.page__header, .module-end {
    background: url("https://bitbucket.org/dt-adaptive/adapt5-dt-themes/raw/master/images/service-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-color: transparent
}

.page__title,
.page__body,
.page__instruction {
    color: #fff
}

.block:not(.critical-safety):not(.critical-quality):nth-child(odd) {
    background-color: #333333
}

.block:not(.critical-safety):not(.critical-quality):nth-child(odd) .component__container {
    background-color: #fff;
    padding: 1.5rem;
    border: .0375rem solid #ccc;
    border-radius: 5px
}

.block:not(.critical-safety):not(.critical-quality):nth-child(odd) .component__title-inner {
    color: #333333
}

.block:not(.critical-safety):not(.critical-quality):nth-child(odd) .component .pagelevelprogress__indicator {
    width: 2rem
}

.component__title {
    color: #333333
}

.component__container .extension-audio {
    box-shadow: none;
    background-color: #edeeee;
    border: .0375rem solid #ccc
}

.component__container .extension-audio button {
    background-color: #cf202f;
    border-radius: 25px;
    height: 1rem;
    width: 2.5rem
}

.component__container .extension-audio .material-icons {
    color: #fff
}

.component__container .extension-audio input[type='range']::-webkit-slider-thumb {
    background: radial-gradient(#cf202f, #cf202f);
    box-shadow: -100vw 0 0 100vw #cf202f
}

.component__container .extension-audio input[type='range']::-moz-range-thumb {
    background: radial-gradient(#cf202f, #cf202f);
    box-shadow: -100vw 0 0 100vw #cf202f
}

.component__container .extension-audio input[type='range']::-ms-thumb {
    background: radial-gradient(#cf202f, #cf202f);
    box-shadow: -100vw 0 0 100vw #cf202f
}

.critical-safety .component__container .extension-audio,
.critical-quality .component__container .extension-audio {
    background-color: transparent;
    border: none
}

.critical-safety .component__container .extension-audio input[type='range'],
.critical-quality .component__container .extension-audio input[type='range'] {
    display: none
}

.module-end .component__container {
    background: none;
    border: none
}

.module-end .component__title-inner {
    color: #fff;
    font-size: 3rem;
    font-weight: 400
}

.notify__popup {
    background-color: #333333
}

.notify__popup .extension-audio {
    box-shadow: none;
    background-color: #edeeee;
    border: .0375rem solid #ccc
}

.notify__popup .extension-audio button {
    background-color: #cf202f;
    border-radius: 25px;
    height: 1rem;
    width: 2.5rem
}

.notify__popup .extension-audio .material-icons {
    color: #fff
}

.notify__popup .extension-audio input[type='range']::-webkit-slider-thumb {
    background: radial-gradient(#cf202f, #cf202f);
    box-shadow: -100vw 0 0 100vw #cf202f
}

.notify__popup .extension-audio input[type='range']::-moz-range-thumb {
    background: radial-gradient(#cf202f, #cf202f);
    box-shadow: -100vw 0 0 100vw #cf202f
}

.notify__popup .extension-audio input[type='range']::-ms-thumb {
    background: radial-gradient(#cf202f, #cf202f);
    box-shadow: -100vw 0 0 100vw #cf202f
}

.notify__btn-icon {
    background-color: #999
}

.no-touch .notify__btn-icon:hover {
    background-color: #cf202f
}

.narrative__progress {
    background-color: #333333
}

.narrative__progress.is-selected {
    background-color: #cf202f
}

.narrative__controls {
    color: #333333
}

.no-touch .narrative__controls:hover {
    color: #cf202f
}

.hotgraphic__pin:not(.has-pin-image) {
    background-color: #cf202f
}

.no-touch .hotgraphic__pin:not(.has-pin-image):hover {
    background-color: #333333
}

.hotgraphic-popup__close, .hotgrid-popup__controls, .hotgrid-popup__close {
    background-color: #cf202f
}

.no-touch .hotgraphic-popup__close:hover, .no-touch .hotgrid-popup__controls, .no-touch .hotgrid-popup__close {
    background-color: #edeeee;
    color: #cf202f
}

.accordion__item-btn {
    background-color: #333333
}

.accordion__item-btn.is-selected {
    background-color: #999
}

.accordion__item-content {
    background-color: #fff;
    color: #333333
}

.no-touch .accordion__item-btn:not(.is-selected):hover {
    background-color: #999
}

.flipcard__item-face {
    background-color: #333333;
    border-color: #333333;
    border-radius: 5px
}

.flipcard__item-face .btn-text {
    background-color: #cf202f
}

.stacklist-item.show {
    background-color: #edeeee;
    border: 1px solid #ccc;
    border-radius: 5px
}

.stacklist-button .button-list .extension-audio {
    border: none
}

.stacklist-button .button-list .extension-audio button {
    color: #333333
}

.hotgrid__item-btn.is-css .hotgrid__item-image {
    border-color: #333333
}

.no-touch .hotgrid__item-btn.is-css:hover .hotgrid__item-image {
    border-color: #cf202f
}

.hotgrid__item-btn.is-visited.is-css .hotgrid__item-image {
    border-color: #999
}

.hotgrid__item-image {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px
}

.hotgrid__item-btn .hotgrid__item-title {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #333333
}

.no-touch .hotgrid__item-btn:hover .hotgrid__item-title,
.no-touch .hotgrid__item-btn:hover .hotgrid__item-icon {
    background-color: #cf202f
}

.hotgrid__item-btn.is-visited .hotgrid__item-title,
.hotgrid__item-btn.is-visited .hotgrid__item-icon {
    background-color: #999
}

.btn-text.btn__feedback {
    background-color: #cf202f
}

.btn-text.btn__feedback.is-disabled {
    color: #fff
}

.btn__response-container .btn-text.btn__action {
    background-color: #333333
}

.mcq__item-label {
    background-color: #333333
}

.no-touch .mcq__item-label:not(.is-disabled):not(.is-selected):hover,
html:not(.a11y-disable-focusoutline) .mcq__item-input:focus+.mcq__item-label {
    background-color: #999
}

.mcq__item-label.is-selected {
    background-color: #999
}

.gmcq__item-option {
    background-color: #333333
}

.gmcq__item-label.is-selected .gmcq__item-option {
    background-color: #999
}

.no-touch .gmcq__item-label:not(.is-disabled):not(.is-selected):hover .gmcq__item-option,
html:not(.a11y-disable-focusoutline) .gmcq__item-input:focus+.gmcq__item-label .gmcq__item-option {
    background-color: #999
}

.dropdown__btn {
    background-color: #333333
}

.dropdown__btn[aria-expanded='true'] {
    background-color: #999
}

.dropdown__item {
    border-color: #999;
    background-color: #edeeee;
    color: #333333
}

.no-touch .dropdown__btn:not(.is-disabled):not([aria-expanded="true"]):hover,
html:not(.a11y-disable-focusoutline) .dropdown__btn:focus {
    background-color: #999
}

.no-touch .dropdown__item:not(:focus):not([aria-selected="true"]):hover {
    background-color: #cf202f;
    border-color: #333333
}

.dropdown__item:focus,
.dropdown__item[aria-selected="true"] {
    background-color: #cf202f;
    border-color: #333333
}